@import 'variable';

.voucher {
  cursor: pointer;
  border-radius: 1.2rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
}

.voucherMeta {
  padding: 1rem 0 1rem 1.5rem;
}

.voucher__title {
  font-size: 0.8rem;
  font-weight: 600;
  color: darken($color: $baseColor, $amount: 40);
}

.voucher__code {
  font-size: 0.8rem;
  color: rgb(255, 126, 51);
}

.voucher__discount {
  background-color: $primaryColor;
  color: #fff;
  padding: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
}
